{% extends "core/base.html" %}
{% block "content" %}
<h2 class="text-center mb-3">Log In</h2>
<form method="POST" action="." style="max-width: 420px;" class="mx-auto">
  {% csrf_token %}
  {% if error %}
  <div class="text-danger">{{error}}</div>
  {% endif %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock "content" %}